@charset "utf-8";
/**		CSS Document
   * ------------------------------------------------------------------------
   * Por Rodrigo Ross - 2018
   * awati - Tecnologia Planejada
   * ------------------------------------------------------------------------
   */


/* Celular retrato*/   
@media (min-width: 360px) {
    body, html{
        height: 100%;
    }
}

/* Tablet ou celular landscape*/
@media (min-width: 576px) {
    body, html{
        height: 100%;
    }

}

/* Tablets maiores */
@media (min-width: 768px) {
    body, html{
        height: 100%;
    }
    
}

/* Tablet muito grande */
@media (max-width: 992px) {
    body, html{
        height: 100%;
    }
    
}

/* landscape */
@media (min-width: 1199px) {
    body, html{
        height: 100%;
        /*background-image: url("../images/bg/startup-593341_1920.jpg");
        background-image: url("https://via.placeholder.com/960x1920");*/
    }
    
}

/* Desktops */
@media (min-width: 1200px) {
    body, html{
        height: 100%;
        background-image: url("../images/bg/startup-593341_1920.jpg");
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    };

}

.btn-outline-awati {
color: #FAA61A;
background-color: transparent;
background-image: none;
border-color: #FAA61A;
}

.btn-outline-awati:hover {
color: #fff;
background-color: #FAA61A;
border-color: #FAA61A;
}

.btn-outline-awati:focus, .btn-outline-awati.focus {
box-shadow: 0 0 0 0.2rem rgba(156, 40, 167, 0.5);
}

.btn-outline-awati.disabled, .btn-outline-awati:disabled {
color: #FAA61A;
background-color: transparent;
}

.btn-outline-awati:not(:disabled):not(.disabled):active, .btn-outline-awati:not(:disabled):not(.disabled).active,
.show > .btn-outline-awati.dropdown-toggle {
color: #fff;
background-color: #FAA61A;
border-color: #FAA61A;
}

.btn-outline-awati:not(:disabled):not(.disabled):active:focus, .btn-outline-awati:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-awati.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(156, 40, 167, 0.5);
}

.bd{
    border: medium solid #5C2D91;
}
/* 
.rodape{
    position: absolute;

    bottom: 3em;
    margin-right: 3rem;
    margin-top: 3rem;

}